.gallery {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    list-style: none;
    padding: 0 !important;
    padding-inline-start: 0 !important;
}

.gallery img {
    max-width: 100%;
    height: auto;
}

.gallery a {
    border: none;
    box-shadow: none;
    text-decoration: none;
}
